In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel('./data/0827/data_gt_60.xlsx')
del data['TyG指数']

In [3]:
data['TyG指数'] = data.apply(lambda x: np.log(
    (x['TG检测值']/0.011 * x['空腹血糖检测值']/0.056)/2),axis=1)
# TG 1 mg/dL = 0.011 mmol/L， FBG 1 mg/dL = 0.056 mmol/L

In [21]:
np.log(1.5 / 0.011 * 8 /0.056/2)

9.18402306365881

In [ ]:
# 再看下公式吧  我粗算了一个 TG1.5，FBG8的人  TyG 9.16
# FBG mg/dl÷18=mmol/L；mmol/L×18=mg/dl。
# TG为1 mg/dl=0.011 3 mmol/L

In [4]:
data[['TyG指数']].describe()

            TyG指数
count  460.000000
mean     8.524209
std      1.113243
min      5.514246
25%      7.864731
50%      8.682965
75%      9.285504
max     11.656404

In [6]:
data['mace'] = data['mace'].astype(int)

In [8]:
data.to_excel('./data/data_gt_60_new0901.xlsx')